/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98*/

.body {
  background: #928f8f;
  color: #fcf9f9;
  padding: 20px;
  width: 100%;
  align-content: center;
  font-size: 14px;
}
.header {
  display: flex;
  margin-bottom: 40px;
  margin-top: 100px;
  margin-left: 50px;
  gap: 30%;
}

h1 {
  font-size: 52px;
  margin-right: 300px;
  flow: left;
}

.row {
  flow: right;
  height: 15px;
}

.filmiNimekiri {
  display: flex;
  flex-wrap: wrap;

  color: #000000;
}

.filmiNimi {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 1;
}

.keskminehinne {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  float: left;
}

.kuupaev {
  float: right;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

img {
  background-color: black;
  border-radius: 14px;
  width: 100%;
}

.card {
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  color: #141414;
  padding: 20px;
  max-width: 400px;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 10px 40px rgb(0, 0, 0);
  margin: 1.1rem;
  cursor: pointer;
}

.readmoreNupp {
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  width: 100%;
}

.readmoreNupp:hover {
  background-color: #a7a3a3;
  color: rgb(255, 255, 255);
}
.expandable {
  max-height: 11em;
  overflow: hidden;
  width: 100%;
}
